html, body, div, span, table, tr, td, ul, li { margin: 0; padding: 0; }
table { width: 100%; }
html, table { font-family: DejaVu Sans, sans-serif; font-size: 13px; }
td { padding: 2px 10px; }

#memory, #memory-chart, #devices, #packages, #services {
	width: 550px;
	margin: 28px auto;
	padding: 20px 16px;
	border: 1px solid #f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#services {
	width: 225px;
}

#memory .indicator {
	width: 460px;
	border: 1px solid #ddd;
	display: inline-block;
}

#memory .category {
	padding-right: 6px;
	color: #ddd;
}

#memory .indicator span {
	display: inline-block;
}

#memory .indicator .speedup {
	background-color: transparent;
	border-right: 1px solid #00ff00;
}

#memory .indicator .software {
	background-color: #ddd;
}

#memory .indicator .protection {
	background-color: #ffc0cb;
}


#devices table tr td:nth-child(1) { width: 60px; text-align: right; }
#devices table tr td:nth-child(2) { white-space: nowrap; }
#devices table tr td:nth-child(3) { width: 1px; text-align: center; color: #ddd; }
#devices table tr td:nth-child(4) { width: 1px; text-align: center; }
/*#devices table tr td:nth-child(5) { width: 1px; text-align: right; color: #ddd; }*/
#devices table tr td:nth-child(5) { width: 400px; text-align: center; color: #ddd; }

#devices .indicator {
	border: 1px solid #ddd;
	width: 120px;
}

#devices .indicator > div { background-color: #ddd; }

#devices .connected, #devices .disconnected, #devices .connected_passive, #devices .disconnected_passive {
	width: 16px; height: 16px;
	border: none;
	background-repeat: no-repeat; background-position: center;
}

#devices .connected { background-image: url(/icons/bolt.png); }
#devices .disconnected { background-image: url(/icons/clock.png); }
#devices .connected_passive { background-image: url(/icons/bolt_grey.png); }
#devices .disconnected_passive { background-image: url(/icons/clock_grey.png); }


#packages ul, #packages li { display: inline; }
#packages li { padding-right: 6px; }

#packages .category {
	color: #ddd;
	text-align: right;
	padding-right: 6px;
}

#packages .category {
	width: 150px;
	display: block;
	float: left;
}

#devices .overlay {
	position: absolute;
	text-align: center;
	padding: 1px;
	color: transparent;
}

#devices .overlay:hover {
	color: #000000;
}

#services div {
	text-align: left;
}

#services .name {
	float: left;
	text-align: right;
	width: 160px;
	padding-right: 10px;
}

#devices .alert > div {
	background-color: #000000;
}


